/**
 * Custom Color Overrides
 *
 * This file is automatically populated if the user chooses custom colors in the Customizer.
 */
/* Style modal 8 */
.card-header {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top-right-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
}

.card-body {
  padding: 0.75rem 1.25rem !important;
  padding-bottom: calc(0.75rem + 4px) !important;
  background-color: #fff !important;
  border-bottom: none !important;
  border-left: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
}

#comment {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
}

.site textarea:focus {
  color: #495057 !important;
  background-color: #fff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.form-submit {
  display: flex !important;
  padding-bottom: 20px !important;
  justify-content: end !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

#submit {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  margin-right: 19px !important;
}

#submit:hover {
  color: #fff !important;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

#submit:focus {
  outline: 0 !important;
}

.comment-form > p {
  margin-bottom: 0px !important;
}
/* Footer */
body {
  background: rgba(255, 255, 255, 0.304) !important;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 60px 0;
}

/* module 4 */
.form-control-borderless {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
/* //module 4 */

/*module-14*/
.comment-box {
  margin-top: 15px !important;
}
.comment-box img {
  width: 50px;
  height: 50px;
}
.comment-box .media-left {
  padding-right: 10px;
  width: 65px;
}
.comment-box .media-body p {
  border: 1px solid #ddd;
  padding: 10px;
}
.comment-box .media-body .media p {
  margin-bottom: 0;
}
.comment-box .media-heading {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 7px 10px;
  position: relative;
  margin-bottom: -1px;
}
.comments-area.show-avatars .avatar {
  border-radius: 0 !important;
  position: relative !important;
  top: 0 !important;
}
.comments-area.show-avatars .avatar {
  border-radius: 0 !important;
}
.comment-box .media-heading:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -6px;
}

.children {
  margin: 0 0 !important;
}
.comments-area > * {
  margin-bottom: 0 !important;
}
ol {
  padding-left: 65px !important;
}
p {
  margin-bottom: 0 !important;
}
/*module14*/

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
/* tay-module-6 */
#date-title-module-6 {
  background: #f5ce31;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.row .overviewline {
  border-bottom: 1px solid #cecece;
  margin: 25px 0 15px;
  position: relative;
}

.row .overviewline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  border-width: 12px 12px 0;
  border-style: solid;
  border-color: #cecece transparent;
  display: block;
  width: 0;
}

.row .overviewline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 51px;
  border-width: 11px 11px 0;
  border-style: solid;
  border-color: #f5f5f5 transparent;
  display: block;
  width: 0;
}

body {
  background: url("../images/bg_cr_grey.png");
  height: 15px;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item:before {
  font-family: Arial, Helvetica, sans-serif;
  color: #f5ce31;
  content: "\2022";
  font-size: 2em;
  padding-right: 0.5em;
  position: relative;
  top: 0.15em;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item {
  border: none;
  border-bottom: 1px #d9d9d9 solid;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px;
}

.list-group-item a {
  color: #428bca !important;
  text-decoration: none !important;
}
